parameters:
  yii2:
    config_path: null
  stubFiles:
    - src/Stubs/Action.stub
    - src/Stubs/ActiveQuery.stub
    - src/Stubs/ActiveRecord.stub
    - src/Stubs/BaseYii.stub
    - src/Stubs/BatchQueryResult.stub
    - src/Stubs/Behavior.stub
    - src/Stubs/ColumnSchemaBuilder.stub
    - src/Stubs/Component.stub
    - src/Stubs/Connection.stub
    - src/Stubs/Controller.stub
    - src/Stubs/HeaderCollection.stub
    - src/Stubs/InlineValidator.stub
    - src/Stubs/Migration.stub
    - src/Stubs/Model.stub
    - src/Stubs/Validator.stub
  dynamicConstantNames:
    - YII_ENV
    - YII_ENV_PROD
    - YII_ENV_DEV
    - YII_ENV_TEST
    - YII_DEBUG

parametersSchema:
  yii2: structure([
    config_path: schema(string(), nullable())
  ])

services:
  - class: ErickSkrauch\PHPStan\Yii2\Reflection\ApplicationPropertiesClassReflectionExtension
    tags: [phpstan.broker.propertiesClassReflectionExtension]

  - class: ErickSkrauch\PHPStan\Yii2\Reflection\RequestMethodsClassReflectionExtension
    tags: [phpstan.broker.methodsClassReflectionExtension]

  - class: ErickSkrauch\PHPStan\Yii2\Reflection\RequestPropertiesClassReflectionExtension
    tags: [phpstan.broker.propertiesClassReflectionExtension]

  - class: ErickSkrauch\PHPStan\Yii2\Reflection\ResponsePropertiesClassReflectionExtension
    tags: [phpstan.broker.propertiesClassReflectionExtension]

  - class: ErickSkrauch\PHPStan\Yii2\Reflection\UserPropertiesClassReflectionExtension
    tags: [phpstan.broker.propertiesClassReflectionExtension]

  - class: ErickSkrauch\PHPStan\Yii2\Type\ActiveQueryBuilderReturnTypeExtension
    tags: [phpstan.broker.dynamicMethodReturnTypeExtension]

  - class: ErickSkrauch\PHPStan\Yii2\Type\ActiveRecordRelationReturnTypeExtension
    tags: [phpstan.broker.dynamicMethodReturnTypeExtension]

  - class: ErickSkrauch\PHPStan\Yii2\Type\ContainerDynamicMethodReturnTypeExtension
    tags: [phpstan.broker.dynamicMethodReturnTypeExtension]

  - class: ErickSkrauch\PHPStan\Yii2\Type\ActiveRecordFindReturnTypeExtension
    tags: [phpstan.broker.dynamicStaticMethodReturnTypeExtension]

  - class: ErickSkrauch\PHPStan\Yii2\Type\ActiveRecordRelationGetterReturnTypeExtension
    tags: [phpstan.broker.dynamicMethodReturnTypeExtension]

  - ErickSkrauch\PHPStan\Yii2\ServiceMap(%yii2.config_path%)
