parameters:
  yii2:
    config_path: null
  stubFiles:
    - src/Stubs/base/Action.stub
    - src/Stubs/base/Behavior.stub
    - src/Stubs/base/Component.stub
    - src/Stubs/base/Controller.stub
    - src/Stubs/base/Model.stub

    - src/Stubs/db/ActiveQuery.stub
    - src/Stubs/db/ActiveRecord.stub
    - src/Stubs/db/BatchQueryResult.stub
    - src/Stubs/db/ColumnSchemaBuilder.stub
    - src/Stubs/db/Connection.stub
    - src/Stubs/db/Migration.stub

    - src/Stubs/test/BaseActiveFixture.stub
    - src/Stubs/test/Fixture.stub

    - src/Stubs/validators/InlineValidator.stub
    - src/Stubs/validators/Validator.stub

    - src/Stubs/web/HeaderCollection.stub

    - src/Stubs/BaseYii.stub
  dynamicConstantNames:
    - YII_ENV
    - YII_ENV_PROD
    - YII_ENV_DEV
    - YII_ENV_TEST
    - YII_DEBUG

parametersSchema:
  yii2: structure([
    config_path: schema(string(), nullable())
  ])

services:
  - class: ErickSkrauch\PHPStan\Yii2\Reflection\ApplicationPropertiesClassReflectionExtension
    tags: [phpstan.broker.propertiesClassReflectionExtension]

  - class: ErickSkrauch\PHPStan\Yii2\Reflection\RequestMethodsClassReflectionExtension
    tags: [phpstan.broker.methodsClassReflectionExtension]

  - class: ErickSkrauch\PHPStan\Yii2\Reflection\RequestPropertiesClassReflectionExtension
    tags: [phpstan.broker.propertiesClassReflectionExtension]

  - class: ErickSkrauch\PHPStan\Yii2\Reflection\ResponsePropertiesClassReflectionExtension
    tags: [phpstan.broker.propertiesClassReflectionExtension]

  - class: ErickSkrauch\PHPStan\Yii2\Reflection\UserPropertiesClassReflectionExtension
    tags: [phpstan.broker.propertiesClassReflectionExtension]

  - class: ErickSkrauch\PHPStan\Yii2\Type\ActiveQueryBuilderReturnTypeExtension
    tags: [phpstan.broker.dynamicMethodReturnTypeExtension]

  - class: ErickSkrauch\PHPStan\Yii2\Type\ActiveRecordRelationReturnTypeExtension
    tags: [phpstan.broker.dynamicMethodReturnTypeExtension]

  - class: ErickSkrauch\PHPStan\Yii2\Type\ContainerDynamicMethodReturnTypeExtension
    tags: [phpstan.broker.dynamicMethodReturnTypeExtension]

  - class: ErickSkrauch\PHPStan\Yii2\Type\ActiveRecordFindReturnTypeExtension
    tags: [phpstan.broker.dynamicStaticMethodReturnTypeExtension]

  - class: ErickSkrauch\PHPStan\Yii2\Type\ActiveRecordRelationGetterReturnTypeExtension
    tags: [phpstan.broker.dynamicMethodReturnTypeExtension]

  - ErickSkrauch\PHPStan\Yii2\ServiceMap(%yii2.config_path%)
