includes:
  - phar://phpstan.phar/conf/bleedingEdge.neon
  - extension.neon
  - rules.neon

parameters:
  bootstrapFiles:
    - vendor/yiisoft/yii2/Yii.php
  paths:
    - src
    - tests
  excludePaths:
    - tests/*/_data/*
  level: max
  yii2:
    config_path: tests/assets/yii-config-valid.php
  ignoreErrors:
    - '#Calling PHPStan\\Rules\\RuleLevelHelper::acceptsWithReason\(\) is not covered.+#'
    - '#Calling PHPStan\\Reflection\\Annotations\\AnnotationsPropertiesClassReflectionExtension\:\:(has|get)Property\(\) is not covered.+#'
    - '#Creating new PHPStan\\Reflection\\Dummy\\DummyPropertyReflection is not covered.+#'
    - '#Creating new PHPStan\\Node\\Expr\\TypeExpr is not covered.+#'
